.link {
    text-decoration: none;
    color: inherit;
}

.image {
    width: 240px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.price {
    display: flex;
    justify-content: center;
}

.description {
    text-align: center;
}