.container {
    display: flex;
}

.orders__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 75vh;
    overflow-y: scroll;
}