.spin_wrapper {
    position: relative;
    width: 90vw;
    height: 100vh;
    background: #1c1c21;
}
.spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #4C4CFF;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
.spinner:before, .spinner:after {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
}
.spinner:before {
    border-top-color: #801ab3;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
}
.spinner:after {
    border-top-color: #F2F2F3;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
