.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 720px;
    height: 718px;
    border-radius: 40px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    background-color: #1c1c21;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.title {
    margin: 0;
    line-height: 40px;
}

.close {
    position: absolute;
    top: 60px;
    right: 40px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity .4s linear;
    z-index: 3;
}

.close:hover {
    opacity: .5;
}