.tabs {
    display: flex;
    flex-direction: row;
}

.ingredients_list {
    max-height: 696px;
    overflow-y: scroll;
}

.products_list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 240px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.price {
    display: flex;
    justify-content: center;
}

.description {
    text-align: center;
}