.header {
    background-color: #1c1c21;
}

.nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_logo {
    flex-grow: .7;
}

.list__item {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    color: #8585ad;
    text-decoration: none;
}

.link_active {
    color: #f2f2f3;
}